h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
}